@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="tex-center">
     <div>
         <h1>core -web -app - docker Azure -9 <strong> Shubham  </strong></h1>
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
