@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assignment -3 </h1>
    <div>
        <h1><strong>Problem</strong></h1>
        <p>1. Create Azure Web App with 2 deployment slots.
 Whenever any change is to be done in the app then first deploy to the staging slot. 
Test the application deployed to staging slot.
 If test results are positive then swap the slot with production slot for deployment. 
   - https://github.com/atingupta2005/core-web-app-docker
GitHub - atingupta2005/core-web-app-docker
Contribute to atingupta2005/core-web-app-docker development by creating an account on GitHub.
        </P>
    
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
