@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
     <div>
     <h1><strong>Welcome to GitHub Action by Atin Gupta23 ---</strong></h1>
    
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
