@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="tex-center">
     <div>
     <h1><strong>Devlopment </strong></h1>
         <h4 style="color:red"> <strong> after the modification of code we just going to switch to dev to production.</strong></h4>
    
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
