@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="tex-center">
     <div>
     <h1><strong>Devlopment </strong></h1>
         <h4 style="color:green"> <strong> we successfully create developement slot and modify the code in development slot switch result in production slot--</strong></h4>
    
    </div>
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
